{% extends "base_generic.html" %}

{% block content %}
    <h1>Librarian Book List</h1>
 


  {% if perms.catalog.librarian %}

            {% if bookinstance_list %}
                  <ul>

                    {% for bookinst in bookinstance_list %} 
                        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                          <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
                          <span>{{bookinst.borrower}}</span>       
                        </li>
                    {% endfor %}
                  </ul>

            {% else %}
              <p>There are no books borrowed.</p>
            {% endif %}       

  {% endif %}       
{% endblock %} 



        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
{% endblock %} 